<head>
    <link rel="stylesheet" href="../static/style.css">
	<title>Dash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

{% block body %}
<body>
  <div id=login_div>
		<h1>Please Log in to view the application</h1>
		<div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					{% if 'success' in message %}
						<h2 id=pwd-change-success>{{ message }}</h2>
					{% else %}
						<h2 id=wrong-password class="">{{ message }}</h2>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
		</div>
  <form method=post>
    <h4 style="border:none;">Username: </h4>
    <input id=uname-box type=text name=username value="{{request.form.username }}">
    <h4 style="border:none;">Password:: </h4>
    <input id=pwd-box type=password name=password>
    <p><input id=login-button class="big button" type=submit value=Login>
  </form>
    <hr>
    <br>
    <h4 style="border:none;">Or enter without logging in:</h4>
    <button class="big button" href="/apps/open_app">Enter</button>
  </div>
</body>
{% endblock %}
