<head>
    <link rel="stylesheet" href="../static/style.css">
	<title>Dash</title>
</head>

{% block body %}
<body class="login_page">
  <div id="login-div" class="flex_div">
        <img src="../static/logo2.png" class="logo">
        <hr>
        <br>
		<div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					{% if 'success' in message %}
						<h2 id=pwd-change-success>{{ message }}</h2>
					{% else %}
<!--						<h2 id=wrong-password class="">{{ message }}</h2>-->
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
		</div>
      
  <form class="flex_div" method="post">
    <h4 style="border:none;">Username: </h4>
    <input id=uname-box type=text name=username value="{{request.form.username }}">
    <h4 style="border:none;">Password: </h4>
    <input id=pwd-box type=password name=password>
    <br>
    <input id=login-button class="big button" type=submit value=Login>
  </form>
    <hr>
    <br>
    <h4 style="border:none;">Or enter without logging in:</h4>
    <a href="apps/open_app" style="text-decoration:none;"><button class="big button">Enter</button></a>
    <a href="/register.html" style="text-decoration:none;"><button class="big button">Register</button></a>
  </div>
</body>
{% endblock %}
